body{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	background-image: url("purple-gradient-14397.png");
	background-repeat: no-repeat;
	color: white;
	max-width: 100%;
	overflow: hidden;
}
.loading{
	font-size: 40px;
	font-weight: 200;
}
main{
/*	max-width: 600px;*/
	margin: 50px auto;
/*	text-align: center;*/
}
footer{
	bottom: 0;
	position: absolute;
	width: 100%;
	text-align: center;
	margin: auto;
	background-color: rgba(0,0,0,0.4);
}
footer a{
	color: #F8DE66;
}
h2, h3{
	font-weight: 100;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
}
h2{
	text-transform: uppercase;
}
h3{
	margin: 0;
}
.fa{
	margin-right: 8px;
}
.temp{
	font-size: 70px;
	margin: 0;
	vertical-align: text-top;
}
.unit{
	font-size: 30px;
	line-height: 70px;
	padding-top: 20px;
	vertical-align: text-top;
}
.detailinfo{
	text-align: left;
	margin: 30px auto;
	width: 200px;
	border-top: 1px white solid;
	border-bottom: 1px white solid;
	padding: 10px 20px;
}
.detailinfo p{
	margin: 5px auto;
}
.detail{
	font-weight: 600;
	width: 100px;
	display: inline-block;
}